article.hour {
  background-color: lightgrey;
  border: 1px solid grey;
  height: 60px;
  vertical-align: top;
  white-space: nowrap;
}

article.event {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin-top: -2px;
  margin-left: 70px;
  min-width: 200px;
  padding: 5px;
  text-align: -webkit-center;
}
